@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*IMPORT FONT*/
@font-face {
    font-family: "Cascadia Code";
    src: url("/fonts/cascadia-code.ttf") format("truetype");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}


/* CSS Variables */
:root {
    color-scheme: dark;
    /* Base Colors */
    --bg-primary: #151515;
    --txt-primary: #F1F1F1;
    --txt-muted: #A0A0A0;
    /* Accent Colors */
    --accent-ui: #ec8f5c;
    --accent-ui-hover: #ff9f6d;
    --accent-ui-rgba: rgba(236, 143, 92, 0.1);
    --accent-learning-rgba: rgba(160, 160, 160, 0.12);
    --accent-learning2-rgba: rgba(255, 255, 255, 0.06);
    --accent-ui-low: #c97546;
    /* Font Families */
    --font-primary: 'Poppins', 'Inter', sans-serif;
    --font-symbols: 'Montserrat', 'Onest', sans-serif;
    --code-font: 'Cascadia Code', monospace;

    /*Font Sizes  - https://typescale.com  - Major Secpnd (https://gemini.google.com)*/
    --step--2: clamp(0.6rem, 0.58rem + 0.08vw, 0.7rem);
    --step--1: clamp(0.7rem, 0.68rem + 0.1vw, 0.85rem);
    --step-0: clamp(0.8rem, 0.75rem + 0.25vw, 1.05rem);  
    --step-1: clamp(1rem, 0.95rem + 0.25vw, 1.2rem);
    --step-2: clamp(1.15rem, 1.08rem + 0.35vw, 1.45rem); /* h5 */
    --step-3: clamp(1.3rem, 1.2rem + 0.5vw, 1.7rem);    /* h4 */
    --step-4: clamp(1.5rem, 1.35rem + 0.75vw, 2.1rem);  /* h2-h3 */
    --step-5: clamp(1.75rem, 1.55rem + 1vw, 2.45rem);   /* h1 */
}

h1 { font-size: var(--step-5); letter-spacing: -0.02em; line-height: 1.1; }
h2 { font-size: var(--step-4); letter-spacing: -0.01em; line-height: 1.2; }
h3 { font-size: var(--step-3); line-height: 1.2; }
h4 { font-size: var(--step-2); }
h5 { font-size: var(--step-1); }
h6 { font-size: var(--step-0); }
p  { 
    font-size: var(--step-0); 
    line-height: 1.5;           
    letter-spacing: -0.01em;    
}


/*Default Styles for body*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    font-family: var(--font-primary);
    font-size: 16px;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

/*Scroll margin top to make navbar work better and see the titles correctly without the sticky header eating it*/
section {
    scroll-margin-top: 100px;
}

/* Disable hovers on touch devices */
@media (hover: none) {
    a:hover,
    button:hover,
    input:hover,
    [role="button"]:hover {
        background-color: inherit;
        color: inherit;
        filter: none;
        transform: none;
        box-shadow: none;
    }
}